#extras{
    margin-top: 2rem;
}

.extras{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    text-align: justify;
}
  
.subtitulo img {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    
}

.huella{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 60%;
    right: 10%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}

.plantas{
    position: absolute;
    width: 8%;
    height: 20%;
    top: 50%;
    left: 35%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}

.amor{
    position: absolute;
    width: 15%;
    height: 30%;
    top: 2rem;
    right: 30%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}

.ave{
    position: absolute;
    width: 5%;
    height: 20%;
    top: 20%;
    left: 10%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}

.ori{
    position: absolute;
    width: 8%;
    height: 22%;
    top: 40%;
    left: 35%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
}


.gracias{
    color: var(--purple);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

/* ************* GENERAL ************* */

.subtitulo {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    align-items: center;
    flex: 1; /* Para que cada div ocupe el mismo espacio en la columna */
    margin-bottom: 20px; 
}

.subtitulo h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}