.habilidades{
    max-width: 1200px;
    margin: 0 auto;
}
.subtitulo {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    align-items: center;
    flex: 1; /* Para que cada div ocupe el mismo espacio en la columna */
    margin-bottom: 20px; 
}

.subtitulo h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}
  
.subtitulo img {
    width: 20%;
    height: 2px;
    margin-left: 20px;   
}

.habilidades-list{
    color: white;
    position: relative;
    font-size: 1.5rem;
}

.habilidades-list div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}