.habilidades{
    position: relative;
    padding: 3%;
    /* max-width: 1200px; */
    margin: 0 auto;
    height: 500px;
    display: grid;
}
  
.subtitulo img {
    width: 20%;
    height: 2px;
    margin-left: 20px;   
}

.dots{
    position: absolute;
    top: 10rem;
    left: 12%;
}

.rectangle{
    position: absolute;
    top: 23.5rem;
    left: 32%;
    width: 5%;
}

.logo{
    position: absolute;
    top: 10rem;
    right: 30%;
    width: 15%;
    height: 40%;
}

.dots2{
    position: absolute;
    top: 17rem;
    right: 5%;
    width: 5%;
}

.habilidadesList{
    color: white;
    position: relative;
    font-size: 1.8rem;
}

.habilidadesList div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ************* GENERAL ************* */

.subtitulo {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    align-items: center;
    flex: 1; /* Para que cada div ocupe el mismo espacio en la columna */
    margin-bottom: 20px; 
}

.subtitulo h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}


/* ************* MEDIA QUERYS ************* */

@media (min-width: 1200px){

}

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width: 768px) {
    .habilidadesList{
        font-size: 1.5rem;
    }
}

@media(max-width: 767px) and (min-width: 576px) {
    .logo{
        top: 15rem;
        right: 30%;
        height: 20%;
    }

    .habilidadesList{
        font-size: 1.3rem;
    }
}

@media (max-width: 575px) {
    .dots{
        width: 10%;
    }

    .logo{
        top: 15rem;
        right: 20%;
        width: 12%;
        height: 15%;
    }

    .rectangle{
        top: 20rem;
        left: 32%;
        width: 5%;
    }

    .dots2{
        top: 25rem;
        right: 27%;
        width: 7%;
    }

    .habilidadesList div{
        display: flex;
        flex-direction: column;
        margin-top: 0rem!important;
        text-align: center;
        font-size: 1.3rem;
    }
}