.introduccion {
    display: flex;
    padding: 3%;
    margin-top: 1rem;
}

#inicio:hover .highlight-text {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}  
  
.introduccionColumna {
    width: 48%; /* Ancho de cada columna (ajústalo según sea necesario) */
    padding: 20px;
}

.introduccionColumna h1{
    color: white;
}

.introduccionColumna p{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--gray);
}

.introduccion button{
    margin-top: 2rem;
    height: 50px;
    width: 100%;
    border: 1px solid var(--purple); 
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

.logoIntro{
    position: absolute;
    z-index: -1;
    width: 10%;
    height: 20%;
    top: 10rem;
    right: 5%;
}

.imgSulem{
    margin-top: -10%;
    width: 50%; 
    height: 60%;
    margin-left: 40%;
    transition: transform 0.5s ease;
}

.imgSulem:hover {
    transform: scale(1.1); /* Escala la imagen al 110% del tamaño original */
}

.dotsIntro{
    position: absolute;
    z-index: -1;
    right: 25%;
    top: 23rem;
}

/* GENERAL */

.highlightText{
    color: var(--purple);
    transition: transform 0.5s ease;
}

/* ************* GENERAL ************* */

.subtitulo {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    align-items: center;
    flex: 1; /* Para que cada div ocupe el mismo espacio en la columna */
    margin-bottom: 20px; 
}

.subtitulo h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}