.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 10;
    color: white;
}

.sulem {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    margin-left: 2%;
    font-weight: bold;
}

.sulem::before {
    content: "<";
    margin-right: 5px;
    color: var(--purple);
}

.sulem::after {
    content: ">";
    margin-left: 5px;
    color: var(--purple);
}

.menu.scrolled {
    width: 100%;
    background-color: var(--gray);
    color: var(--dark);
}  

.sulem.dark {
    color: var(--dark);
}

.color.dark button{
    color: var(--dark);
}

.menuList{
    margin-right: 4%;
}

.menuList button{
    border: none;
    background-color: transparent;
    transition: transform 0s ease;
    color: white;
    font-weight: bold;
}

.menuList button::before{
    content: '#';
    margin-right: 5px;
    color: var(--purple);
    font-size: 1.1rem;
}
  

/* ************* MEDIA QUERYS ************* */

@media (min-width: 1200px){

}

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width: 768px) {

}

@media(max-width: 767px) and (min-width: 576px) {

}

@media (max-width: 575px) {

}