.sobremiContainer {
    position: relative;
    padding: 3%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.sobremiContainer h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}

.subtitulo img {
    width: 20%;
    height: 2px;
    margin-left: 20px;
}
  
.sobremi {
    display: flex;
    justify-content: space-between;
}

.sobremiExperiencia {
    display: flex;
    justify-content: space-between;
}
  
.sobremiLeft {
    flex: 1;
    margin-right: 20px; /* Ajusta el margen entre las columnas según sea necesario */
    display: flex;
    justify-content: center;
}

.ipn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover;
}
  
.sobremiRight {
    flex: 2;
    color: var(--gray);
    text-align: justify;
}

.miExperiencia{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.experienciaLeft{
    flex: 1;
    margin-right: 20px; /* Ajusta el margen entre las columnas según sea necesario */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    color: var(--gray);
    font-size: .8rem;
}

.experienciaLeft h4{
    color: white;
}

.experienciaLeft span{
    color: var(--purple);
}

.experiencia {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    justify-content: space-between;
    align-items: center;
}
  
.experiencia img {
    width: 20%;
    height: 2px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button button{
    width: 60%;
    height: 50px;
    border: 1px solid var(--purple); 
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    /* padding: 15px; */
}

button:hover {
    transform: scale(1.1); /* Escala la imagen al 110% del tamaño original */
    background-color: var(--purple);
    color: var(--dark);
    font-weight: bold;
}



/* ************* GENERAL ************* */

.highlightText{
    color: var(--purple);
    transition: transform 0.5s ease;
}

.subtitulo {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    align-items: center;
    flex: 1; /* Para que cada div ocupe el mismo espacio en la columna */
    margin-bottom: 20px; 
}

.subtitulo h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}

/* ************* MEDIA QUERYS ************* */

@media (min-width: 1200px){
}

@media (max-width: 1199px) and (min-width: 992px) {
}

@media (max-width: 991px) and (min-width: 768px) {
    .sobremiExperiencia {
        display: block;
    }

    .sobremi {
        display: block;
    }

    .sobremiRight{
        color: white;
    }

    .ipn{
        position: absolute;
        z-index: -1;
        width: 40%;
        height: 400px;
        top:5%;
        left: 35%;
        opacity: .3;
        text-align: center;
    }

    .experiencia{
        margin-bottom: 2rem;
    }

    .grafico{
        display: none;
    }
}

@media(max-width: 767px) and (min-width: 576px) {
    .sobremiExperiencia{
        display: block;
    }

    .sobremi {
        display: block;
    }

    .sobremiRight{
        color: white;
    }

    .ipn{
        position: absolute;
        z-index: -1;
        width: 40%;
        height: 400px;
        top:5%;
        left: 35%;
        opacity: .3;
        text-align: center;
    }

    .experiencia{
        margin-bottom: 2rem;
    }

    .grafico{
        display: none;
    }

}

@media (max-width: 575px) {
    .sobremiContainer {
        padding: 5%;
    }

    .sobremiExperiencia{
        display: block;
    }
    
    .sobremi {
        display: block;
    }

    .sobremiRight{
        color: white;
    }

    .ipn{
        position: absolute;
        z-index: -1;
        width: 80%;
        height: 400px;
        top:8%;
        left: 20%;
        opacity: .3;
        text-align: center;
    }

    .button button {
        width: 90%;
        font-family: .8rem;
    }

    .experiencia{
        margin-bottom: 2rem;
    }

    .experiencia img{
        display: none;
    }

    .grafico{
        display: none;
    }

    .subtitulo img {
        width: 45%;
    }
}