.tecnologias{
    position: relative;
    /* margin: 0 auto; */
    /* margin-top: 3rem; */
    padding: 3%;
}

.tecnologiasColumns {
    display: flex;
    justify-content: space-between;
} 

.columnLeft {
    flex: 1;
    margin-right: 20px; 
}

.cssImg{
    position: absolute;
    width: 6%;
    height: 15%;
    left: 65%;
    top: 65%;
}

.git{
    position: absolute;
    width: 10%;
    height: 25%;
    top: 70%;
}

.branch{
    position: absolute;
    width: 4%;
    height: 12%;
    left: 20%;
    top: 70%;
}

.JS{
    position: absolute;
    width: 6%;
    height: 15%;
    left: 10%;
    top: 30%;
}

.code{
    position: absolute;
    width: 5%;
    height: 12%;
    right: 18%;
    top: 82%;
}

.react{
    position: absolute;
    width: 20%;
    height: 50%;
    left: 30%;
    top: 40%;
}

.dots{
    position: absolute;
    width: 8%;
    height: 20%;
    left: 25%;
    top: 18%;
}

.dots2{
    position: absolute;
    width: 5%;
    height: 15%;
    left: 55%;
    top: 75%;
}

.columnRight {
    flex: 1;
    display: flex; /* Utiliza flexbox para organizar las tablas en columnas */
    flex-wrap: wrap; /* Envuelve las tablas si no caben en el ancho disponible */
}
  
.columnRight > div {
    width: calc(25% - 5px); /* Ancho del 25% para que haya 4 columnas con espacio entre ellas */
    margin-bottom: 20px; /* Espacio entre las tablas */
}

.columnRight table{
    width: 100%;
}

.columnRight p{
    color: var(--gray);
    text-align: center;
}
  
.tablaLenguajes, .tablaFrame, .tablaOtros, .tablaHerramientas {
    border-collapse: collapse; /* Combina los bordes de la tabla */
    border: 1px solid var(--purple);
}

.tablaLenguajes tr:not(:last-child) td,
.tablaFrame tr:not(:last-child) td,
.tablaOtros tr:not(:last-child) td,
.tablaHerramientas tr:not(:last-child) td{
    border-bottom: 1px solid var(--purple); /* Agrega un borde inferior a todas las celdas, excepto a las de la última fila */
}


/* ************* GENERAL ************* */

.subtitulo {
    display: flex;
    flex-direction: row; /* Para que los elementos estén uno encima del otro */
    align-items: center;
    flex: 1; /* Para que cada div ocupe el mismo espacio en la columna */
    margin-bottom: 20px; 
}

.subtitulo h3::before{
    content: '#';
    color: var(--purple);
    margin-right: 5px;
}

.subtitulo img {
    width: 20%;
    height: 2px;
    margin-left: 20px;   
}

/* ************* MEDIA QUERYS ************* */

@media (min-width: 1200px){
    .list{
        display: none;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .list{
        display: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .list{
        display: none;
    }

    .columnLeft {
        flex: 0;
    }

    .cssImg{
        height: 12%;
        object-fit: cover;
    }
    
    .git{
        display: none;
    }

    .branch{
        display: none;
    }
    
    .JS{
        width: 5%;
        height: 12%;
        left: 20%;
        top: 40%;
        object-fit: cover;
    }

    .code{
        display: none;
    }

    .react{
        width: 15%;
        height: 30%;
        left: 30%;
        top: 55%;
    }

    .dots{
        width: 6%;
        height: 15%;
        left: 10%;
        top: 65%;
    }

    .dots2{
        width: 5%;
        height: 10%;
        left: 88%;
        top: 50%;
    }
}

@media(max-width: 767px) and (min-width: 576px) {
    .list{
        display: none;
    }

    .columnLeft {
        flex: 0;
    }

    .cssImg{
        height: 12%;
    }
    
    .git{
        display: none;
    }

    .branch{
        display: none;
    }
    
    .JS{
        width: 5%;
        height: 12%;
        left: 20%;
        top: 40%;
    }

    .code{
        display: none;
    }

    .react{
        width: 15%;
        height: 30%;
        left: 30%;
        top: 55%;
    }

    .dots{
        width: 6%;
        height: 15%;
        left: 10%;
        top: 65%;
    }

    .dots2{
        width: 5%;
        height: 10%;
        left: 88%;
        top: 50%;
    }
}

@media (max-width: 575px) {
    .columnRight{
        display: none;
    }
    
    .columnLeft {
        flex: 0;
    }

    .cssImg{
        display: none;
    }
    
    .git{
        width: 12%;
        height: 22%;
        top: 50%;
        right: 18%;
    }

    .branch{
        display: none;
    }
    
    .JS{
        display: none;
    }

    .code{
        display: none;
    }

    .react{
        width: 10%;
        height: 15%;
        left: 38%;
        top: 25%;
    }

    .dots{
        width: 8%;
        height: 12%;
        left: 35%;
        top: 75%;
    }

    .dots2{
        width: 7%;
        height: 10%;
        left: 80%;
        top: 30%;
    }

    .list{
        flex: 1;
        display: flex;
        color: white;
        z-index: 2;
    }

    .list div{
        flex: 1;
    }

    ul{
        list-style-type: none;
        color: var(--gray);
    }

    .subtitulo img {
        width: 50%; 
    }
}